
        body {
            margin:0 auto;
            text-align: center;
            }
        h1 {
            background-color: #66404F;
            color: whitesmoke
            }
        img {
            border-radius: 40%;
            max-width: 30%;
            padding: 2rem;
            }